.Carousel-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Carousel-main>i {
  cursor: pointer;
  margin: 10px;
  color: #aaa;
}

.Carousel-main>i:hover {
  color: black;
}

.fa {
  width: 20px;
  height: 20px;
  background-color: rgb(15, 2, 167);
  font-size: 10px
}